@import "../Shared/Shared.scss";

.App {
  text-align: center;

  /* boilerplate to adjust font for MOBILE */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-size: 100pt;
  font-weight: 900;
  margin: 30vh 0 30vh 0;
}

@media (max-width: $media-query-mobile) {
  h1 { font-size: 40pt; }
}
